<nav class="navbar navbar-expand bg-white shadow-sm">  
    <div class="container">
        <button class="btn-menu" id="sidebarToggle" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <img src="/img/menu.png" alt="菜单" style="width:30px; height:30px; filter: invert(1);">
        </button>
        <div class="navbar-collapse">
            <ul class="navbar-nav ms-auto">

                {nav}
                {/nav}

                {goBtn}
                {/goBtn}
            </ul>
        </div>
    </div>
</nav>